.App {
  margin: 0 auto;
  max-width: 1440px;
  padding: 0 20px;
  width: 100%;
  font-family: Inter, sans-serif;
  font-size: var(--fonts-size-regular);
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  box-sizing: border-box;
}
.table {
  display: flex;
  max-width: 1440px;
  flex-direction: column;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow:
    0px 0px 2px 0px rgba(0, 0, 0, 0.08),
    0px 1px 4px 0px rgba(69, 75, 87, 0.12),
    0px 0px 0px 1px rgba(152, 161, 178, 0.1);
  border-collapse: collapse;
}
